In [13]:
import pandas as pd
import numpy as np

In [2]:
securities = ['AAA','BBB']
positions = [[11,10],[12,10],[13,10]]
prices = [[10,10],[11,10],[12,10]]
dates = ['2018-07-01', '2018-08-01', '2018-09-01']

df_positions = pd.DataFrame(data=positions, columns=securities, index=dates)
df_prices = pd.DataFrame(data=prices, columns=securities, index=dates)
df_values = df_positions * df_prices
df_weights = df_values.divide(df_values.sum(axis='columns'),axis='rows')

In [9]:
df_prices.iloc[-1]

AAA    12
BBB    10
Name: 2018-09-01, dtype: int64

In [19]:
port_value = pd.DataFrame(data=df_values.sum(axis=1), columns=['portfolio_value'])
port_value

            portfolio_value
2018-07-01              210
2018-08-01              232
2018-09-01              256

In [21]:
port_value['pct_chg'] = port_value['portfolio_value'].pct_change()
port_value['log_chg'] = np.log(port_value['portfolio_value'] / port_value['portfolio_value'].shift(1))
port_value

            portfolio_value   pct_chg  log_chg
2018-07-01              210       NaN      NaN
2018-08-01              232  0.104762  0.09963
2018-09-01              256  0.103448  0.09844

In [26]:
pd.DataFrame(port_value.loc['2018-09-01',:]).transpose()

            portfolio_value   pct_chg  log_chg
2018-09-01            256.0  0.103448  0.09844