In [1]:
import pandas as pd

In [2]:
cols = ['a','b','c']
data = [[1,5,7],[2,6,7],[10,30,4]]
df = pd.DataFrame(data=data, columns=cols)

In [3]:
df

    a   b  c
0   1   5  7
1   2   6  7
2  10  30  4

In [10]:
values = df.loc[2,['a','c']]
list(values)

[10, 4]

In [23]:
cols = ['a','b','c']
labels = ['item1','item2','item3']
new_cols = list(zip(cols, labels))
new_cols

[('a', 'item1'), ('b', 'item2'), ('c', 'item3')]

In [24]:
df.columns = new_cols
df

   (a, item1)  (b, item2)  (c, item3)
0           1           5           7
1           2           6           7
2          10          30           4