# Pandas: Map vs Replace
If you are in a position where you have a dataframe that contains some values that you would like to extend or substitute inplace or in a newly created column, there are two ways in which one could acheive this.

First, we need to import the pandas module. If you do not have this, you can `pip install pandas` then import into your project as follows:

In [2]:
import pandas as pd

Next, we need to set-up the dataframe and have the dictionary containing the values to find as a key, and the value to be returned in the item location.

Then we will inspect the dataframe to see how it looks.

In [3]:
# data for dataframe
data = {
    'col1':['au','au','nz','USA'],
}

# dict to convert data from:to
dict_mapping = {
    'au':'Australia',
    'nz':'New Zealand'
}

# create the dataframe and output
df = pd.DataFrame(data=data)
df

  col1
0   au
1   au
2   nz
3  USA

## Using pandas .map() function
Now, we want to create a new column containing the mapped values from the `dict_mapping` created above.

As you can see below, this works well accept for when the value to map does not exist in the `dict_mapping` and pandas returns a NaN.

In [4]:
df['col2']= df['col1'].map(dict_mapping)
df

  col1         col2
0   au    Australia
1   au    Australia
2   nz  New Zealand
3  USA          NaN

## Using pandas .replace() function
Now, if you did not want the NaN in your newly created column, perhaps try creating a new column and use pandas .replace() function and with the `dict_mapping` object.

In [5]:
df['col2'] =df['col1'].replace(dict_mapping)
df

  col1         col2
0   au    Australia
1   au    Australia
2   nz  New Zealand
3  USA          USA

As we can see, if the value does not exist in the column (or series) it retains its original value.